package login

import "github.com/mderler/go_chat/view/layout"

templ ShowLogin() {
	@layout.Base() {
		<div class="h-screen flex justify-center items-center">
			@LoginForm("", "")
		</div>
	}
}

templ ShowRegister() {
	@layout.Base() {
		<div class="h-screen flex justify-center items-center">
			@RegisterForm("", "", "", "", "", "")
		</div>
	}
}
