package user;

import "github.com/mderler/go_chat/view/layout"
import "github.com/mderler/go_chat/model"

templ ShowUserList(users []model.GetUsersByQueryRow) {
	@layout.Base() {
		for _, user := range users {
			@UserListItem(user)
		}
	}
}
