package layout

templ ErrorBase(myerror string) {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Error</title>
		</head>
		<body style="width: 100hh; height: 100vh">
			<h1>{ myerror }</h1>
		</body>
	</html>
}
